body{
  color: black;
  font-family: Arial;
  font-size: 15px;
  padding: 5px;
}



.title{
  color: black;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20;

}

.subTitle{
  color: rgb(88, 86, 86);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.section{
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  text-align: left;

}

.section-example{
  margin-bottom: 20px;

}

.section-example .location{
  font-style: italic;
  margin-bottom: 5px;
}

.company-name{
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;

}

.link{
  margin-bottom: 20px;
}

.logo{
  width: 25px;
  max-width: 100%;
  height: auto;

}

.dates{
  color: gray;
  font-weight: bold;
}

.website-button{
  color:white;
  background-color: blue;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  transition: color 0.7s, background-color 0.7s;
  margin: 5px;

}

.website-button:hover{
  background-color: white;
  color: blue;
}

.website-button:active{
  opacity: 0.3;
}

.video-button{
  color:white;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  transition: color 1s, background-color 1s;
  margin: 5px;

}

.video-button:hover{
  opacity: 0.8;
}

.video-button:active{
  opacity: 0.3;
}
